@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Rubik+Moonrocks&display=swap');
$background-color: #0a192f;
$white: #e0e0db;
$green: #64ffda;
$dark-navy: #020c1b;
$light-navy: #112240;

$lightest-navy: #233554;

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3.65rem;
    z-index:100;
    text-transform: capitalize;
   // background: $dark-navy;
}


.header-items{
    display: flex;
    position: fixed;
    align-items: center;
    height: 2rem;
    justify-content: space-around;
    padding: .85rem 0;
    position: relative;
    top: 0; 
    left: 0; 
    width: 100%;
    margin: 0 auto;
    
    .header-left{
        
        color: $white;
        display: flex;
        align-items:center;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.3);
        width: 25%;
        margin-left: .5rem;
        font-family: 'Major Mono Display';
        
        color: $green;
        :nth-child(1){
            font-size: .75rem;
            margin-right: 1px;
            margin-top: 1px;
          //  color: $green;
          
        }
        span{
            font-size: .75rem;
            margin-top: 2px;
        }

        
    }
    
    .header-right{
        display: flex;
        align-items: center;
        justify-content: right;
        width: 25%; 
        margin-right: .25rem;
        .hamburger_menu{
           
            font-size: 1.5rem;
            :hover{
                color: $white; 
                cursor: pointer;
            }
        }
    }
}


.menu-icon {
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-icon.open {
    transform: rotate(90deg);
  }
  

@media (max-width: 1023px )
{
        small{
            display: none;
        }
        .menu{
            display: none;
        }   
}


@media (min-width: 1024px){
    .header{
        max-height: 25%;
    padding-top: .5rem;
    
    
        .header-items{          

            justify-content: space-around;
            width: 90%;
            max-height: 25%;
            padding: 0;
            min-height: 2.4rem;
           padding-top: .5rem;
          
            
            .header-left{
                margin:0 auto; 
                justify-content: center;
                align-items: center; 
                flex-wrap: wrap;
                
                :nth-child(1){
                    font-size: 1.2rem;
                    margin: 0;   
                    margin-top: 1px;
                }
                span{
                    margin-top: 0px;
                    font-size: 1.2rem;
                    
                }
                :last-child{
                    font-size: .45rem;
                    font-weight: bolder;
                    width: 100%;
                    margin-top: -4px;
                    margin-left: 4.25rem;
                    text-align: left;
                }
                
            small{
                padding: 0;
                font-weight: bolder;
                color: $white; 
            }
            
        }
      

          
    
        .header-right{
                 
                    width: 80%;
                    margin: 0 auto;
           
                    justify-content: flex-start;
                    padding-right: 1.85rem;
            .hamburger_menu{
                display: none;
            }
        
     }
        }}
}