$background-color: #0a192f;
$white: #e6f1ff;
$green: #64ffda;


.portfolioItem_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
     width: 100%;
   
     border-radius: 0.25rem;
    box-shadow: 6px 3px 5px -1px rgba(0,0,0,0.75);
    border: 2px solid ;
    background: rgba(112, 112, 112, 0.137);
 
     
    a{
      text-decoration: none;
      padding: 0;
    }
    img{
        width: 100%;
        height: 9rem;
        object-fit: cover;
        cursor: pointer;
        border: none;
     
    }
    .item_details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        color: whitesmoke;
        min-height:6rem;
        
        h3{
          width: 100%;
          margin: 0.75rem .75rem;   
          font-style: normal;
          font-weight: bold;
          font-size: large;
          line-height: 24px;
          letter-spacing: 1px;
        
          text-transform: uppercase;
          text-shadow:  2px 1px 1px #080113;

         }
        
        p{      
        width: 100%;
        text-shadow:  2px 1px 1px #080113;

        }
  }

  .stack{ 
    padding-left: .75rem;
    font-size: .75rem;
    color: $white;
    text-shadow: none;
    margin-top: 1.5rem;
    margin-left: .75rem;
    color: $green;
    

  }
}


.projectInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: .75rem;
    
    .product_tag{
      text-shadow:  2px 1px 1px #080113;
         text-align: right;
         margin-right: .65rem;
         padding: 0;
         text-shadow: none;
    }
}

@media (min-width: 1024px){
  .portfolio_wrapper{

    h3{
      font-size:  x-large;
    
    }
  }
}
