@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Monoton&family=Rampart+One&family=Zeyada&display=swap');
$base-color: #e0e0db;
$accent-color: #892be2a9;
$hover-color: #8a2be2;

html,
body,
#root
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
 
    ::-webkit-scrollbar {
        display: none;
    }
    
    .App-Wrapper{
        background: #090909;
        display: flex;
        flex-direction: column;
        align-items: center;
            overflow-x: hidden;
        
        top: 0;
        left: 0;
        height:100vh;
        width:100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        color: $base-color;        
        text-align: center;     
      
    }
}

#intro{
    
    background: url('https://media.giphy.com/media/xUOrwev00PyqNAlLu8/giphy.gif') ;
    background-size:  cover;
    background-position: center;  
    color: #252525;
    font-size: 2.5rem; 
    .intro_contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $base-color;
        background: rgba($color: #090909, $alpha: 0.75);
        height: 100svh;
        width: 100%;
        letter-spacing: normal;
    }
    h1{
        font-family: 'Lato', cursive;
        color: $base-color;
        margin-bottom: .5rem;
        text-shadow: 2px 1px 1px $hover-color; 
        font-weight: 700;
        font-size: 3.25rem;
        line-height: 1em;
       }
    p{
        color: $hover-color;
        font-family: 'zayada';
        font-weight: bolder;
        font-size: 2.5rem;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 0;
        margin-top: 0;
       // text-shadow: 2px 2px 2px $base-color;
        text-shadow: 2px 1px 1px #090909;
        padding-bottom: 0;
    }
    .small{
        padding-top: 0;
        color: $base-color;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
}

#work{
    
    display: flex;
    h2{
    margin-top:0 ;
    margin-bottom: 4rem;
    }
}

section{
    width: 100vw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    scroll-snap-align: start;
    scroll-snap-stop: always;
    text-shadow: 2px 2px 1px $hover-color; 
    margin-bottom: 1rem;

    h2{
        font-family: 'rampart one', cursive;
        margin-top: 12rem;
        font-weight: 700;
        font-size: 3rem;
        line-height: 28px;
        text-shadow: 1px 1px #090909;
    }
    p{
        margin-left: 40px;
        margin-right: 40px;
    }
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);

}




 