@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lobster&family=Monoton&family=Rampart+One&family=Rubik+Iso&family=Zeyada&display=swap');
$background-color: #0a192f;
$white: #e6f1ff;
$green: #64ffda;
$dark-navy: #020c1b;
$light-navy: #112240;
$lightest-navy: #233554;
$navy-shadow: rgba(2, 12, 27, 0.7);
$dark-slate: #495670;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$green-tint: rgba(100, 255, 218, 0.1);
$pink: #f57dff;
$blue: #57cbff;
$font-sans: "Calibre",
"Inter",
"San Francisco",
"SF Pro Text",
-apple-system,
system-ui,
sans-serif;
$font-mono: "SF Mono",
"Fira Code",
"Fira Mono",
"Roboto Mono",
monospace;
$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-heading: 32px;
$border-radius: 4px;
$nav-height: 100px;
$nav-scroll-height: 70px;
$tab-height: 42px;
$tab-width: 120px;
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
$hamburger-width: 30px;
$ham-before: top 0.1s ease-in 0.25s,
opacity 0.1s ease-in;
$ham-before-active: top 0.1s ease-out,
opacity 0.1s ease-out 0.12s;
$ham-after: bottom 0.1s ease-in 0.25s,
transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ham-after-active: bottom 0.1s ease-out,
transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;



html,
body,
#root {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: transparent;
  margin: 0px;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: none;
  color: $slate;
  font-family: $font-sans;
  font-size: $fz-xl;
  line-height: 1.3;
  text-align: center;

  ::-webkit-scrollbar {
    display: none;
    padding-bottom: 40px;
  }

  .App-Wrapper {
    font-family: $font-sans, 'Lato', cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;

}

h1 {
  font-size: 2.25rem;
}

h2 {

   

  span {
    color: black;
    
    margin-bottom: 3rem;
  }
}



// Header

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .title_wrapper {

    display: flex;
    align-items: center;
    padding: 1rem;

    width: 25%;
  }
}

.title_ball {
  width: 1.25rem;
  height: 1.25rem;
  background: orangered;
  border-radius: 50%;
  margin-right: .35rem;
  margin-top: .25rem;
}

.title {
  font-size: 1.25rem;
}

.nav_bar {
  width: 45%;
  height: 100%;

  .menu {

    height: 45px;
    width: 100%;

    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;

    .menu_item {
      margin-right: 1rem;
      padding-right: 1rem;
      border-right: black 1px solid;
      font-size: 1rem;
      list-style: none;
      color: black;
    }

    :last-child {
      border: none;
    }
  }
}

//main
.homepage_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 35rem;

  .image_div_Container {
    width: 25rem;
    height: 25rem;
    background: orangered;
    border-radius: 50%;
  }

  .hero_content_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    text-align: left;
    padding-top: 0;

    .text_container {
      margin: 0;
      width: 70%;
    }

    .rich_text_containter {

      left: 0;
      padding: 0;

      h1 {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        font-size: 3.5rem;
        margin-bottom: 0;
        letter-spacing: 1px;

      }

    }

    .rich_text_subtitle {
      font-size: 1;
      letter-spacing: 1px;

      font-weight: bold;
      margin-bottom: 0;
    }

    .rich_text_summary {
      margin-top: 0;
      letter-spacing: 1px;
    }
  }
}

.links_container {
  display: flex;
  justify-content: space-evenly;

  width: 80%;
}

.circle_btn {
  height: 7rem;
  width: 7rem;
  text-align: center;

  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 600;
}

#blue_circle {
  background: #80d8da;
}

#yellow_circle {
  background: #eea302;
}

#red_circle {
  background: #ff3b25;
}

#blue_circle:hover,
#yellow_circle:hover,
#red_circle:hover {
  background: white;
}

// resume
.page_title {
  font-size: 2rem;
}

.info_section {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 16px;
}

.work_section_div {
  width: 100%;

}

.experience_content_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;


  h4 {
    font-size: 18px;
    text-align: left;
    margin-left: 1rem;
  }

  p {
    font-size: 16px;

  }

  .experience_wrapper {
    display: flex;
    align-items: flex-start;

    width: 65%;
  }
}

.year_title_container {
  margin-top: .5rem;
}

.experience_text {
  font-size: 16px;
  text-align: left;
  margin-left: 1rem;
  margin-top: 0;
}

// projects
.project_wrapper {
  width: 100%;
  padding: 0 auto;
  
 

}
  .project_content_container{
    display: flex;
    flex-direction: row;
    width: 100%;
  
  }

.title_description_wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 6rem;
  padding-right: 1rem;
  padding-left: 1rem;

 
  h3 {
    font-size: 22px;
    
    margin-left: 0;
    margin-bottom: 1rem;
  }

  P {

    margin-top: 0;
    font-size: 16px;
  }
}

.image_container {
  width: 25rem;
  height: 15rem;
  .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
padding: 1.5rem;  
}

//portfolio

  .portfolio_wrapper{
    
    width: 100%;
    height: 100vh;
    margin-bottom: 4rem;
    .container {  
      height: 20rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 15rem);
      gap: 1.5px ;
      grid-auto-flow: row;
      grid-template-areas:
        "box box box2 box-3"
        "box-4 box-5 box-6 box-6"
        "box-7 box-7 box-8 box-9";
    }
    .portfolio_img{
          width: 100%;
           height: 100%;
           object-fit: cover;

           
    }
    .box {
           grid-area: box; 
          }
    
    .box2 { grid-area: box2; 
           background: yellow;
          }
    
    .box-3 { grid-area: box-3; 
            background:black;}
    
    .box-4 { grid-area: box-4;
            background: purple; }
    
    .box-5 { grid-area: box-5; 
            background: orangered;}
    
    .box-6 { grid-area: box-6; 
            background: pink;}
    
    .box-7 { grid-area: box-7;
            background: white;}
    
    .box-8 { grid-area: box-8;
            background: blue; }
    
    .box-9 { grid-area: box-9;
            background: lime; }
    

            
  }

//services

.services_container{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.card{
  margin: 0 auto;
  border: 1px solid black;
  width: 12rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;

  padding-bottom: 1rem;
  .box{
    width: 100%;
    height: 8rem;

    .service_image{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  h4{
    text-align: left;
    width: 100%;
    margin-left: 1rem;
  }

  .service_description{
    border-top: 1px solid black;
  }
  
  p{
    text-align: left;
    margin-left: 1rem;
  }
  

  .book_button{
    margin-top: 2rem;
    a{
      background: black;
      color: white;
      padding: .5rem .95rem;
      text-decoration: inherit;
    }
    a:hover{
      background: white;
      color: black;
    }
  }
}

//contact
.contact_info{
  
  width: 45%;
  display: flex;
  flex-direction: column;

  text-align: left;
  p{
    margin-left: 7rem;
    font-size: $fz-md;
    margin-bottom: 0;
  }

  .info{
    font-size: $fz-sm;
    margin-top: 0;
  }

}

a{
  text-decoration: none;
  font-size: $fz-md;
}
.title{
  font-size: $fz-lg;
}

//foorer
footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: solid 1px rgb(17, 16, 16);
}

p {
  color: black;
}

#about,
#projects {
  padding-bottom: 60px;
  border-bottom: solid 1px $blue;
}

article {
  width: 100%;
  height: 90svh;
}

@media (min-width: 1024px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
    margin-left: 7rem;
  }

  h2 {
    margin-top: .85rem;
    margin-bottom: 0.5rem;
  }

  #about,
  #projects {
    border-bottom: none;
  }
}

.projectBtn_div {
  margin-top: -12rem;
  margin-bottom: -10rem;

  padding: 0;
}

.btn {
  border: none;
  background: none;
  color: $white;
  margin-left: 2rem;
  margin-right: 2rem;

  font-size: 1.25rem;
  z-index: 150;
}

.btn:hover {
  color: $green;
  transform: scale(1.2);
  cursor: 'pointer',
}

.Canvas_Container {
  width: 100%;
  height: 100svh;
  left: 0;
  top: 0;
  background: transparent;
}