
html,
body,
#root
{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: ivory;
    border-radius: 21px 21px 21px 21px;
    -webkit-border-radius: 21px 21px 21px 21px;
    -moz-border-radius: 21px 21px 21px 21px;
    
    
    .App-Wrapper{
        width: 100%;
        height: 100%;
        background: #393939;
        background: linear-gradient(0deg,#393939 0%, #000000 60%);
        background: -webkit-linear-gradient(-90deg,#393939 0%, #000000 60%);
        background: -moz-linear-gradient(-90deg,#393939 0%, #000000 60%);

        .header{
            background: #393939;
            display: flex;
            height: 9%;
            align-items: center;
            justify-content: space-around;
            padding: 0;
            box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
        
            .header-left{
                background: red;
                text-shadow: 4px 4px 2px rgba(0,0,0,0.3);
                width: 30%;
            }

            .header-center{
                
                width: 30%;
            }

            .header-right{
                
                display: flex;
                align-items: center;
                justify-content: right;
                width: 30%;
                height: 100%;

                
                .hamburger_menu{
                    color: #fff;
                    border: none;
                    background: none;
                    font-size: larger;

                    :hover{
                        color: grey;
                    }
                }
            }
        }
    }
}