$green: #64ffda;
$white: #e0e0db;
$lightest-navy: #233554;

@media (min-width: 1024px){
    nav{
 
        width: 30%;
        margin: 0 auto;
        
        ul{
        width: 100%;
            list-style: none;
         
           
        
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            color: $green;
            
            li{
                margin-left:1.75rem ;
          
                a{
                    text-decoration: none;
                    color: $white;
                
                }
                    a:hover{
                    color: $green;
                   
                    }
            }
        }

        .underline::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: $green;
            transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
          }
          
          .underline:hover::after {
            width: 100%;
            left: 0;
          }
           
          
          
          
          
        .resumeBtn{
            font-size: 13px;
                border: 1px solid $green;
                padding: 0.75rem 1rem;
                color: $green;
                border-radius: 6px;
         
        }
        }
    }

    }
 