$base-color: #e0e0db;
$accent-color: #892be2a9;
$hover-color: #8a2be2;

.modal{}

.modal_background{
 
    width: 100w;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer; 
    z-index: 100;
}

.modal_container{
    background: rgb(9,9,9);
background: linear-gradient(-45deg,  rgba(9,9,9,1) 80%, rgba(78,9,121,1) 95%, rgb(134, 46, 189) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 110;
    height: 100svh;
    -webkit-text-stroke: #8a2be2;
    width: 100vw;

    ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        text-align: center;
        height: 85vh;
        padding-right: 25px;
        color: whitesmoke;
        margin: 0 auto;
        li{
            list-style: none;
        
            font-size: 1.75rem;
            margin-top: 2.25rem;
            a{
    
                font-size: 4rem;
                text-decoration: none;
                line-height: 1em;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #7b0ce4;
                     
            }
                :hover{
                    border-bottom: 2px solid $accent-color;
                    font-weight: bolder;
                    color: #f1f1f1;
                    -webkit-text-stroke: 1px #481379; 
                }
        }
    }
}

.modal_controls {
     
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
 
    padding: 0;
}

.modal_close{
    position: relative;
    border: none;
    font-size: 2.75rem;
    cursor: pointer;
    margin-top: 1.75rem;
    margin-right: 2rem;
 

}

