$background-color: #0a192f;
$white: #e6f1ff;
$green: #64ffda;
$light-navy: #112240;
$lightest-navy: #233554;

.modal_background{
 background: #112240a2;
 backdrop-filter: blur(10px);
    width: 100%;
    height: 100svh;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; 
    z-index: 100;
}

.modal_container{
     
background: linear-gradient(-45deg,  $background-color 80%, $light-navy 95%, $lightest-navy 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 110;
    min-height: 100%;
    
    width: 75%;
    
    

    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        justify-content: center;
        text-align: center;
        min-height: 50%;
        margin-top: -2.25rem;
        
       
     
        li{
            list-style: none;
            font-size: 1rem;
            margin-top: 2.25rem;

            div{
                display: flex;
                flex-direction: column;
                color: $green;

                
            }
            a{
    
                font-size: 1rem;
                text-decoration: none;
                line-height: 1em;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $white;      
            }

            .resumeBtn{
                
                font-size: 1.25rem;
                border: 1px solid $green;
                padding: 18px 50px;
                color: $green;
                border-radius: 6px;
                margin-top: 3rem;

            }
            :hover,
            :focus {
                transform: translateY(-3px);
                }
        }
    }
}

.modal_controls {
    position: absolute;
    top: 0;
    right: 0;
    margin:  0 2rem;
}

.modal_close{
    border: none;
    font-size: 2.75rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1.2rem;
}

