

$background-color: #0a192f;
$white: #e0e0db;
$green: #64ffda;
$dark-navy: #020c1b;
$blue: #57cbff;

#contact{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    background-size:  cover;
    background-position: center; 
}  
.contact_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55%;
    width: 85%;  
    text-align: left;
    color: $white;
    text-shadow: none;
    padding-bottom: 6rem;
    margin: 0 auto;
    
}
.info-wrapper{
        width: 85%;
        margin-top: 0;
        }
        
        .contact_info{
            display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 25px;
        
        :nth-child(1){
            margin-bottom: -2px;
        }

        :nth-child(2){
            margin-bottom: 0;
        }
   
        .info_label{
            font-size: small;
            font-weight: 700;
            margin-bottom: auto;
            margin-left: .5rem;
            
        }
        
        .info_text{
            font-size: smaller;
            font-weight: 400;
            margin-top: .15rem;
            color: $green;
            margin-left: .5rem;
            letter-spacing: 1px;
        }

    }
    

    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
       
        
        
        label{
            font-size: .65rem;
            color: rgb(255, 255, 255);
            text-shadow: none;
            margin-bottom: .2rem;
            margin-left: .5rem;
            
        }

        .input{
            border: none;
            
            color:$green;
            background-color: #0a192f;
            margin: .35rem auto .5rem;
            width: 99.6%;
            padding-top: .45rem;
            padding-left: .5rem;
            padding-bottom: 1.25rem;
            border-radius: 4px;
            outline: 1px solid $blue;

            box-shadow: 1px 1px 1px 0px $green;
        }
        textarea{
            width: 100%;
            outline: 1px solid $blue;
        
            border-radius: 4px;
            color: $green;
            background-color: #0a192f;
      
            padding-bottom: 2.5rem ;
            box-shadow: 1px 1px 1px 0px $green;
            
            margin-top: 10px;
            
        }
    
        .submit{
            width: 45%;
            color: $green;
            background: transparent; 
            border: 2px solid $green;
            border-radius: 4px;
            font-size: x-large;
            line-height: 1;
            font-weight: bolder;
            height: 25%;  
            padding: .75rem 1rem;
            margin-top: 1rem;
           margin-left: .5rem;

        }
        .submit:hover{
            background: #233554;
            }
    }
    
    @media (min-width: 1024px){
        .form{
            .submit{
                width: 25%;
            }
        }
    }