
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 100%;
        
.aboutContent_wrapper{
    width: 85%;
    padding: 0;
    margin: 0 auto;
       
    }
        p{
             
            margin: 0 auto;
            font-size: 1.35rem;
            letter-spacing: 1px;
            line-height: 26px;
            width: 85%;
            color: rgb(245, 245, 245); 
        
             
        }
        span{                 
            font-family: 'Lobster';
            color: rgba(250, 250, 36, 0.884);
           
            
            font-size: 1.5rem;
        }
            .coolStuff{
                font-family: 'Lobster';
                     font-size: 1.25rem;
            color:  rgba(213, 119, 250, 0.75);
        
        
            }
        
         
         
        }
        