.portfolio_wrapper{
    width: 100%;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    overflow: auto;
    overflow-x: scroll;
    margin-left: 20px;
    width: 100%;
}