#projects{
   margin: 0 auto;
   width: 100%;
}


.portfolio_wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 75%;
   margin: 0 auto;

     .portfolio{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1rem;
        padding: 0;
     }
}

@media (min-width: 768px) {
   #projects{
     
      flex-direction: row;
     
      .portfolio{ 
         grid-template-columns: repeat(2, minmax(0, 1fr));
      }   
   }  
}
 
@media (min-width: 1024px){
   #projects{

      .portfolio{ 
         grid-template-columns: repeat(3, minmax(0, 1fr));
      }
   }
}