.footer {
  
    border-top: 1px solid #e0e0e0;
    padding: 1.5rem 0;
    font-size: .85rem;
    color: #333;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .footer-links p {
    margin: 0 2rem 0 0;
  }
  
  .social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-icons li {
    margin: 0 1.5rem;
  }
  
  .social-icons a {
    color: #64ffda;
    font-size: 1.6rem;
    transition: color 0.2s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #9b9b9b;
  }
  