section{
    width: 100%;
    height: 100svh;
    background: green;
    padding: 0;
    article{
        // margin-top: 4rem;
        width: 100%;
        height: 100svh;

        Canvas{
            background: black;
        }
    }
}