section{
    width: 100%;
    height: 100svh;

    

        
        .article_intro{
         
        width: 100%;
        height: 100svh;
        padding: 0;
        background:  rgba(0, 0, 0, .65) url('public/pics/patrick-tomasso.jpg');
        background-size: cover;
        background-blend-mode: darken;
        
        
        
        
        Canvas{
            background: transparent;
        }
    }
}
